<main>
  <h2 class="title">Mixing Engine API and Capabilities API via iframes</h2>
  <div class="buttonGroup">
    <button ng-click="app.action('clearAll')">Clear</button>
    <button ng-click="app.action('clearAll')">Back</button>
    <button ng-click="app.action('clearAll')">Forwards</button>
  </div>
  <div> {{ app.calculatedValue() }} </div>
  <iframe style="width:400px;height: 600px;" src="http://localhost:9000/iframe/iframe.html?app=daee0772-57ce-4767-a200-f3ffafcf71aa&object=YPPUPE" frameborder="0"></iframe>
</main>